<header class="head">
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container right">
          <div class="navbar-brand">
            <h1 style="color:#f24b4b; ">CSE Sophomores</h1>
          </div>
         
        
              <div class="text-center ri2">
               <button ><a routerLink='/form'>Form</a></button>
            </div>
            <div class="text-center ri1">
              <button>
                <a routerLink='/contact'>Contact</a></button>
            </div>
          
            
          
      
      </div>
    </nav>
</header>

