%clickables {
    margin-top:20px;
    position: absolute;
    top:5px;
  }
  
  .ri1{
      @extend %clickables;
      right: -130px;
      margin-left:10px;
  }
  .ri2{
      @extend %clickables;
      margin-right:55px;
      right:-90px;
  }
header{
  margin-top:-10px;
  margin-right:-10px;
  margin-left:-10px;
}

.navbar-nav {
    clear: both;
    margin-top: -20px;
  }
  #nav-list{
      padding:5px;
  }
  .right{
      position:relative;
  }
  
  @media(max-width:1200px){
      .head{
          width:100%;
  
      }
      .navbar{
          width:100%;
      }
    
  }
  @media(max-width:1000px){
  .ri1{
      margin-top:10px;
      right: 10px;
      margin-left:10px;
      margin-right:-20px;
  }
  .ri2{
      margin-top:10px;
      margin-right:0px;
      right:100px;
  } 
  h1{
  font-size:1.2em;
  }  
  }
  