<div style="text-align:center" class="marg">
	<h2>
		Contact Details
	</h2>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 pad">
			<h3>
				Shreya Ilindra
			</h3>
			<ul>
				<li>
				sailakshmishreya.i@gmail.com	
			</li>
			<li>
					190050050
			</li>
			</ul>
			
			
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 pad">
			<h3>
				Palti Ramyasri
			</h3>
			<ul>
				<li>
					ramyapalti123@gmail.com
				</li>
				<li>
					190050078
				</li>
			</ul>
		</div>
	</div>
</div>

