<div style="text-align:center">
	<h2 style="color:blue" class="mar">
		Contact Details
	</h2>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 pad" style="text-align:center">
			<h3>
				Ilindra Sai Lakshmi Shreya
			</h3>
			<ul class="rem_bul">
				<li>
				sailakshmishreya.i@gmail.com	
			</li>
			<li>
					190050050
			</li>
			</ul>
			
			
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 pad" style="text-align:center">
			<h3>
				Palti Ramyasri
			</h3>
			<ul class="rem_bul">
				<li>
					ramyapalti123@gmail.com
				</li>
				<li>
					190050078
				</li>
			</ul>
		</div>
	</div>
</div>

