
<div class="center par">
	
    <h1> Feedback Form </h1>
    
    <form [formGroup] = "profileForm" (ngSubmit)='OnSubmit()'>
      <div class="p">
     <label >
       <span class="p1">Name:</span> 
     <input type="text" formControlName="name" size="30">
     </label>
     </div>
    <br>
    <div class="p">
     <label  >
       <span class="p2">Email:</span>
       <input type="email" formControlName="email" size="30">
     </label>
   </div>
    <br>
    <div class="p feed">
     <label >
      <span >Feedback:</span>
      <input type="radio" id="great" formControlName="feedback" value="Great">
      <label  class="f" for="great">Great</label>
      <input type="radio" id="okay" formControlName="feedback" value="Okay">
      <label class="f" for="okay">Okay</label>
      <input type="radio" id="not good" formControlName="feedback" value="Not good">
      <label class="f" for="not good">Not good</label>
    </label>
  </div>
    <br>
    <div class="p">
    <label  >
      <span class="p3">Comments:</span>
      <textarea type="text" formControlName="comment" rows="2" cols="32"> </textarea>
    </label>
  </div>
    <br>
     
    <button>Submit</button>
    </form>
    
    <div class="Submit_details">
        <ul>
            <li class="li">
                Name : {{Feed.name}}
            </li>
            <li class="li">
                Email : {{Feed.email}}
            </li>
            <li class="li">
                Feedback : {{Feed.feedback}}
            </li>
            <li class="li">
                Comments : {{Feed.comment}}
            </li>
    </ul>
    
    </div>
    <div class="success Submit_details2"></div>
    
    
        
            
           
